{% extends 'base.html.twig' %}

{%  block title 'Course des 2F' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Circuit des 2F </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur cum deleniti, eaque earum, harum incidunt laboriosam
            maiores molestias necessitatibus neque nisi optio provident
            quia recusandae repellendus rerum, sunt vel voluptatem?</p>


    </div>

    <div class="container"></div>

{% endblock %}